
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                  <p-toolbar styleClass="gap-2">
                    <ng-template pTemplate="left">
                      
                    </ng-template>
                
                    <ng-template pTemplate="right">
                      <div class="flex">
                        <!-- ! CSV -->
                        <button
                          type="button"
                          pButton
                          pRipple
                          
                          (click)="exportToPdf()"
                          class="mr-2"
                          pTooltip="PDF"
                          tooltipPosition="bottom"
                        ><i class="pi pi-file-pdf"></i></button>
                        <!-- ! Excel -->
                        <button
                          type="button"
                          pButton
                          pRipple
                          
                          (click)="exportExcel()"
                          class="p-button-success mr-2"
                          pTooltip="XLS"
                          tooltipPosition="bottom"
                        ><i class="pi pi-file-excel"></i></button>
                        <!-- ! selection -->
                        <!-- <button
                          type="button"
                          pButton
                          pRipple
                          icon="pi pi-filter"
                          (click)="dt.exportCSV({ selectionOnly: true })"
                          class="p-button-info ml-auto"
                          pTooltip="selection only"
                          tooltipPosition="bottom"
                        ><i class="pi pi-filter"></i></button> -->
                      </div>
                    </ng-template>
                  </p-toolbar>
                  <!-- ! DataTable -->
                  <p-table
                  id="brokerNameData"
                    #dt
                    [value]="brokerNameData"
                    [rows]="5"
                    [columns]="selectedColumns"
                    [globalFilterFields]="[
                      'id',
                      'name',
                    ]"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    [(selection)]="selectedItems"
                    [rowHover]="true"
                    dataKey="id"
                  >
                    <ng-template pTemplate="caption">
                      <div
                        class="d-flex align-items-center flex-column flex-md-row justify-content-center justify-content-md-between"
                      >
                        <h4 class="m-0">Broker name</h4>
                
                        <!-- ! display="chip" -->
                        <p-multiSelect
                          class="my-1 m-md-0"
                          [options]="cols"
                          [(ngModel)]="selectedColumns"
                          optionLabel="header"
                          selectedItemsLabel="{0} columns selected"
                          [maxSelectedLabels]="0"
                          [style]="{ 'max-width': '200px' }"
                          placeholder="Choose columns"
                        >
                          <ng-template let-col pTemplate="item">
                            <div>{{ col.header }}</div>
                          </ng-template></p-multiSelect
                        >
                
                        <span class="p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input
                            [style]="{ 'max-width': '192px' }"
                            pInputText
                            type="text"
                            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="search"
                          />
                        </span>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <!-- <th style="width: 4rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->
                        <th
                          *ngFor="let col of columns"
                          [pSortableColumn]="col.field != 'image' ? col.field : false"
                        >
                          {{ col.header }}
                          <p-sortIcon
                            *ngIf="col.field != 'image'"
                            [field]="col.field"
                          ></p-sortIcon>
                        </th>
                
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-userMethod let-columns="columns">
                      <tr>
                        <!-- <td>
                          <p-tableCheckbox [value]="userMethod"></p-tableCheckbox>
                        </td>
                        <td *ngIf="checkSelected(columns, serviceItemName)">
                          {{ isEnglish ? userMethod.nameEn : userMethod.nameAr }}
                        </td> -->
                        <td *ngIf="checkSelected(columns, 'id')">
                          <a routerLink="/newAdminPanel/brokerName/{{userMethod.id}}" ngbDropdownItem>
                            {{ userMethod.id }}
                          </a>
                        </td>
                        <td *ngIf="checkSelected(columns, 'name')">
                          {{ userMethod.name }}
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>           
                  <p-paginator
                  [rows]="5"
                  [totalRecords]="count"
                  currentPageReportTemplate="showing {first} to {last} of {{count}} entries"
                    [showCurrentPageReport]="true"
                  (onPageChange)="onPageChange($event)"
                 ></p-paginator>
                </div>
            </div>
        </div>
    </div>
</section>


