<div _ngcontent-ng-c1568440195="" class="container-fluid">
    <div _ngcontent-ng-c1568440195="" class="row mb-2">
        <div _ngcontent-ng-c1568440195="" class="col-sm-6">
            <h1 _ngcontent-ng-c1568440195=""> 
                Notification
            </h1>
        </div>
        <div _ngcontent-ng-c1568440195="" class="col-sm-6">
            <ol _ngcontent-ng-c1568440195="" class="breadcrumb float-sm-right">
                <li _ngcontent-ng-c1568440195="" class="breadcrumb-item">
                    <a _ngcontent-ng-c1568440195="" routerLink="/addon/notification">Notifications</a>
                </li>
                <li _ngcontent-ng-c1568440195="" class="breadcrumb-item active">
                    Details
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container">
    <div class="card m-3">
        <div class="card-body">
          <div class="row">
            <!-- id -->
            <div class="col-6">
                <i data-feather="user" class="mr-1"></i>
                    <span class="card-text user-info-title font-weight-bold mb-0">ID</span>
            </div>
            <div class="col-6">
                <p class="card-text mb-0">{{ notification.id }}</p>
            </div>
            <!-- seen -->
            <div class="col-6">
                <i data-feather="edit-2" class="mr-1"></i>
                <span class="card-text user-info-title font-weight-bold mb-0">Seen</span>
            </div>
            <div class="col-6">
                <!-- <p class="card-text mb-0">{{ notification.seen }}</p> -->
                <i *ngIf="notification.seen == true" class="pi pi-check" style="color: green;"></i>
                <i *ngIf="notification.seen == false" class="pi pi-times" style="color: red;"></i>
            </div>
            <!-- target_content_type_name -->
            <div class="col-6">
                <i data-feather="edit-2" class="mr-1"></i>
                <span class="card-text user-info-title font-weight-bold mb-0">Target content type name</span>
            </div>
            <div class="col-6">
                <p class="card-text mb-0">{{ notification.target_content_type_name }}</p>
            </div>
            <!-- date_time -->
            <div class="col-6">
                <i data-feather="edit-2" class="mr-1"></i>
                <span class="card-text user-info-title font-weight-bold mb-0">Date</span>
            </div>
            <div class="col-6">
                <p class="card-text mb-0">{{ notification.date_time }}</p>
            </div>
            <!-- title -->
            <div class="col-6">
                <i data-feather="edit-2" class="mr-1"></i>
                <span class="card-text user-info-title font-weight-bold mb-0">Title</span>
            </div>
            <div class="col-6">
                <p class="card-text mb-0">{{ notification.title }}</p>
            </div>
            <!-- text -->
            <div class="col-6">
                <i data-feather="edit-2" class="mr-1"></i>
                <span class="card-text user-info-title font-weight-bold mb-0">Text</span>
            </div>
            <div class="col-6">
                <p class="card-text mb-0">{{ notification.text }}</p>
            </div>
            <!-- created_at -->
            <div class="col-6">
                <i data-feather="edit-2" class="mr-1"></i>
                <span class="card-text user-info-title font-weight-bold mb-0">Created at</span>
            </div>
            <div class="col-6">
                <p class="card-text mb-0">{{ notification.created_at | date: 'short' }}</p>
            </div>
            <!-- template_slug -->
            <div class="col-6">
                <i data-feather="edit-2" class="mr-1"></i>
                <span class="card-text user-info-title font-weight-bold mb-0">Template slug</span>
            </div>
            <div class="col-6">
                <p class="card-text mb-0">{{ notification.template_slug }}</p>
            </div>
            <!-- target_object_id -->
            <div class="col-6">
                <i data-feather="edit-2" class="mr-1"></i>
                <span class="card-text user-info-title font-weight-bold mb-0">Target object id</span>
            </div>
            <div class="col-6">
                <p class="card-text mb-0">{{ notification.target_object_id }}</p>
            </div>
            <!-- general -->
            <div class="col-6">
                <i data-feather="edit-2" class="mr-1"></i>
                <span class="card-text user-info-title font-weight-bold mb-0">General</span>
            </div>
            <div class="col-6">
                <!-- <p class="card-text mb-0">{{ notification.general }}</p> -->
                <i *ngIf="notification.seen == true" class="pi pi-check" style="color: green;"></i>
                <i *ngIf="notification.seen == false" class="pi pi-times" style="color: red;"></i>
            </div>
            <!-- user -->
            <div class="col-6">
                <i data-feather="edit-2" class="mr-1"></i>
                <span class="card-text user-info-title font-weight-bold mb-0">User</span>
            </div>
            <div class="col-6">
                <p class="card-text mb-0">{{ notification.user }}</p>
            </div>
          </div>
          <div class="row justify-content-end mt-3">
            <div class="d-flex flex-wrap">
                <a a routerLink="/addon/notification" class="btn btn-outline-secondary ml-1" rippleEffect>
                  Back
                </a>
            </div>
          </div>
        </div>
    </div>
</div>

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                  <p-toolbar styleClass="gap-2">
                    <ng-template pTemplate="left">
                      
                    </ng-template>
                
                    <ng-template pTemplate="right">
                      <div class="flex">
                        <!-- ! CSV -->
                        <button
                          type="button"
                          pButton
                          pRipple
                          
                          (click)="exportToPdf()"
                          class="mr-2"
                          pTooltip="PDF"
                          tooltipPosition="bottom"
                        ><i class="pi pi-file-pdf"></i></button>
                        <!-- ! Excel -->
                        <button
                          type="button"
                          pButton
                          pRipple
                          
                          (click)="exportExcel()"
                          class="p-button-success mr-2"
                          pTooltip="XLS"
                          tooltipPosition="bottom"
                        ><i class="pi pi-file-excel"></i></button>
                        <!-- ! selection -->
                        <!-- <button
                          type="button"
                          pButton
                          pRipple
                          icon="pi pi-filter"
                          (click)="dt.exportCSV({ selectionOnly: true })"
                          class="p-button-info ml-auto"
                          pTooltip="selection only"
                          tooltipPosition="bottom"
                        ><i class="pi pi-filter"></i></button> -->
                      </div>
                    </ng-template>
                  </p-toolbar>
                  <!-- ! DataTable -->
                  <p-table
                  id="seen_info"
                    #dt
                    [value]="seen_info"
                    [rows]="10"
                    [columns]="selectedColumns"
                    [paginator]="true"
                    [globalFilterFields]="[
                      'id',
                      'seen_at',
                      'notification',
                      'user'
                    ]"
                    [tableStyle]="{ 'min-width': '75rem' }"
                    [(selection)]="selectedServiceItems"
                    [rowHover]="true"
                    dataKey="id"
                    currentPageReportTemplate="showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true"
                  >
                    <ng-template pTemplate="caption">
                      <div
                        class="d-flex align-items-center flex-column flex-md-row justify-content-center justify-content-md-between"
                      >
                        <h4 class="m-0">Seen info</h4>
                
                        <!-- ! display="chip" -->
                        <p-multiSelect
                          class="my-1 m-md-0"
                          [options]="cols"
                          [(ngModel)]="selectedColumns"
                          optionLabel="header"
                          selectedItemsLabel="{0} columns selected"
                          [maxSelectedLabels]="0"
                          [style]="{ 'max-width': '200px' }"
                          placeholder="Choose columns"
                        >
                          <ng-template let-col pTemplate="item">
                            <div>{{ col.header }}</div>
                          </ng-template></p-multiSelect
                        >
                
                        <span class="p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input
                            [style]="{ 'max-width': '192px' }"
                            pInputText
                            type="text"
                            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="search"
                          />
                        </span>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th style="width: 4rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th
                          *ngFor="let col of columns"
                          [pSortableColumn]="col.field != 'image' ? col.field : false"
                        >
                          {{ col.header }}
                          <p-sortIcon
                            *ngIf="col.field != 'image'"
                            [field]="col.field"
                          ></p-sortIcon>
                        </th>
                
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-seen_info let-columns="columns">
                      <tr>
                        <td>
                          <p-tableCheckbox [value]="seen_info"></p-tableCheckbox>
                        </td>
                          <td *ngIf="checkSelected(columns, 'id')">
                            {{ seen_info.id }}
                          </td>
                          <td *ngIf="checkSelected(columns, 'seen_at')">
                            {{ seen_info.seen_at | date: 'short' }}
                          </td>
                          <td *ngIf="checkSelected(columns, 'notification')">
                            {{ seen_info.notification }}
                          </td>
                          <td *ngIf="checkSelected(columns, 'user')">
                            {{ seen_info.user }}
                          </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
            </div>
        </div>
    </div>
</section>
