<!-- Not authorized-->
<div class="misc-wrapper">
    <a class="brand-logo" href="javascript:void(0);">
      <img class="m-3" src="assets/images/logo.svg" alt="brand-logo" height="40" />
      <!-- <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2> -->
    </a>
    <div class="row" style="margin: 0;">
      <div class="w-100 text-center">
        <div class="col-12">
            <h2 class="mb-1">You are not authorized! 🔐</h2>
        </div>
        <div class="col-12">
            <a class="btn btn-primary mb-1 btn-sm-block" routerLink="/login" rippleEffect >Back to login page</a>
        </div>
        <div class="col-12">
            <img class="img-fluid" src="assets/images/not-authorized.svg" alt="Not authorized page"/>     
        </div>
      </div>
    </div>
  </div>
  <!-- / Not authorized-->