:host ::ng-deep{
    p-password .p-password{
      width: 100%;
    }
    .p-password .p-inputtext{
        width: 100%;
    }
    .p-inputtext:enabled:hover, p-password.ng-invalid.ng-dirty > .p-password > .p-inputtext {
        border-color: #ced4da;
    }
    .p-password {
        font-size: 14px;
    }
    .p-inputtext {
        padding: 0.55rem 0.55rem;
    }
}

@media (min-width:767px) {
    .register-box {
        width: 40rem;
    }
}

@media (max-width: 425px) {
    .register-page {
        height: auto;
    }
}