@import 'primeng/resources/primeng.min.css';
@import 'primeng/resources/themes/bootstrap4-dark-blue/theme.css';

:host ::ng-deep{
    p-password .p-password{
      width: 100%;
    }
    .p-password .p-inputtext{
      width: 100%;
    }
    .p-inputmask {
        width: 100%;
    }
    .p-inputnumber-input {
        width: 100%;
    }
    .p-password {
        font-size: 14px;
    }
    .p-inputtext {
        padding: 0.55rem 0.55rem;
    }
  }

  .text-center {
    cursor: pointer;
}